.inputContainer {
    background: #ececec;
    display: flex;
}

.inputContainer:focus-within {
    outline: #e0e0e0 solid 2px;
}

.input {
    flex: 1;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: #606060;
    padding: 8px;
    border: none;
    background: transparent;
    outline: none;
}

.inputSearchBtn {
    padding: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #606060;
    margin-right: 8px;
    transition: all 0.25s;
}

.inputSearchBtn:hover {
    color: #707070;
    transform: translateX(-2px);
}

.inputSearchBtn:active {
    color: #505050;
}

.searchSuggestions {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: 100%;
    z-index: 10;
    box-shadow: 4px 4px 6px 0px #a0a0a0;
    display: none;
}

.inputContainer:focus-within .searchSuggestions {
    display: block;
    animation: fadeIn 0.25s;
}

.searchItem {
    background: #e8e8e8;
}

.searchItem:hover {
    background: #e0e0e0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
